#!/bin/bash

SCREEN_LAYOUT_CONFIGS=("$(ls -p ~/.screenlayout | grep -v /)")
if [ "${#distro[@]}" -eq 1 ]; then
  ~/.screenlayout/"${SCREEN_LAYOUT_CONFIGS[0]}"
elif [ -f ~/.screenlayout/default.sh ]; then
  ~/.screenlayout/default.sh
elif [ -f ~/.screnlayout/default ]; then
  ~/.screenlaout/default
fi

